node_modules
*.user

adp-tool/build/
adp-tool/build/VS2019/.vs/
adp-tool/build/VS2019/Debug/
adp-tool/build/VS2019/Release/
adp-tool/lib/libusb/msvc/.vs/
adp-tool/lib/libusb/Win32/Debug/
adp-tool/lib/libusb/Win32/Release/
adp-tool/lib/wxwidgets/build/msw/.vs/
adp-tool/lib/wxwidgets/build/msw/vc_mswu/
adp-tool/lib/wxwidgets/build/msw/vc_mswud/
adp-tool/lib/wxwidgets/lib/vc_lib/Debug/
adp-tool/lib/wxwidgets/lib/vc_lib/Release/
adp-tool/lib/wxwidgets/tests
firmware/build/vs2019/
firmware/build/.vs
firmware/.vs
firmware/lufa
