[submodule "firmware/lib/lufa"]
	path = firmware/lib/lufa
	url = https://github.com/abcminiuser/lufa
[submodule "adp-tool/lib/hidapi"]
	path = adp-tool/lib/hidapi
	url = https://github.com/electromuis/hidapi
[submodule "adp-tool/lib/serial"]
	path = adp-tool/lib/serial
	url = https://github.com/wjwwood/serial
[submodule "adp-tool/vcpkg"]
	path = adp-tool/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "adp-tool/lib/adp-tool/lib/esp-serial-flasher"]
	path = adp-tool/lib/adp-tool/lib/esp-serial-flasher
	url = https://github.com/HannahPadd/esp-serial-flasher.git
