node_modules
*.user

config-tool/build/
!config-tool/build/VS2019/
config-tool/build/VS2019/.vs/
config-tool/build/VS2019/Debug/
config-tool/build/VS2019/Release/
config-tool/lib/libusb/msvc/.vs/
config-tool/lib/libusb/Win32/Debug/
config-tool/lib/libusb/Win32/Release/
config-tool/lib/wxwidgets/build/msw/.vs/
config-tool/lib/wxwidgets/build/msw/vc_mswu/
config-tool/lib/wxwidgets/build/msw/vc_mswud/
config-tool/lib/wxwidgets/lib/vc_lib/Debug/
config-tool/lib/wxwidgets/lib/vc_lib/Release/
config-tool/lib/wxwidgets/tests
firmware/teensy2/build/vs2019/
firmware/teensy2/build/.vs
firmware/teensy2/.vs
firmware/teensy2/lufa
adp-tool/build/
